# eslint 忽略检查 (根据项目需要自行添加)
node_modules
dist
public
*.sh
lib
*.md
*.woff
*.ttf
.vscode
.idea
/dist/
/public
/docs
.local
package.json
!.env-config.ts
components.d.ts
*.config.ts
src/views/type-challenges/
