{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "rules": {
    // 禁止检查每行最大字数
    "max-statements-per-line": "off"
  },
  "extends": "@antfu/eslint-config"
}
