@import './markdown.css';
:root{
  font-family:LXGW WenKai,'Neucha', LXGW WenKai Mono,'Patrick Hand','Patrick Hand SC' !important;
  font-weight: 300;
}

a{
  background-image: none !important;
}

html{
  background: #ffffffa0;
  --bg-point: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Ccircle fill='%252364748b' cx='2' cy='2' r='.5'/%3E%3C/svg%3E");
  --bg-contrary: #ffffff;
  --bg-contrary-light: #eeeeee;

  --text-contrary: rgba(55, 65, 81, 0.8);
  --geometry-bg:url(/geometry2.png);
  --bg-border-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Cpath d='m0 0 4 4Zm4 0L0 4Z' stroke-width='.5' stroke='%23000'/%3E%3C/svg%3E");

}

html.dark{
  background: #121212;
  --bg-point: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Ccircle fill='%2345454b' cx='2' cy='2' r='.5'/%3E%3C/svg%3E");
  --bg-contrary: #18181b;
  --bg-contrary-light: #38383b;

  --text-contrary: rgba(229, 231, 235, 0.8);
  --geometry-bg: transparent;

  --bg-border-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Cpath d='m0 0 4 4Zm4 0L0 4Z' stroke-width='.5' stroke='%23333'/%3E%3C/svg%3E");

}

/* 滚动条 */
/* 滚动条整体部分 */
::-webkit-scrollbar{
  width:5px;
  height:6px;
  background-color: transparent;
  border-radius: 8px;
}
/* 内层轨道，滚动条中间部分 */
::-webkit-scrollbar-track-piece{
  width:24px;
  background-color:transparent;
  border-radius: 8px;
}
/* 滚动条里面的小方块，能向上向下移动 垂直滚动条 */
::-webkit-scrollbar-thumb:vertical{
  width:24px;
  height:24px;
  background: rgba(214, 212, 212,0.5);
  border-radius: 8px;
}
/* 滚动条里面的小方块，能向上向下移动 水平滚动条 */
::-webkit-scrollbar-thumb:horizontal{
  width:24px;
  height:24px;
  background: rgba(214, 212, 212,0.5);
  border-radius: 8px;
}
/* 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。 */
::-webkit-scrollbar-button{
  display:none;
}
/* 边角，即两个滚动条的交汇处 */
::-webkit-scrollbar-corner{
  display:none;
}
/* 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件，类似input textArea的右下角可放大缩小的位置 */
::-webkit-resizer {

}

/* 选中 */
::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59);
  color: rgb(255 255 255);
}

h1{
  font-family:LXGW WenKai,'Neucha', LXGW WenKai Mono,'Patrick Hand','Patrick Hand SC' !important;
}
